<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Admin login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:href="@{/css/login.css}" rel="stylesheet" />
</head>
<body>
  <div class="login-page">
    <div class="form">
      <p class="message">Admin login</p>
      <form class="post" method="post" action = '/admin/sendLogin'>
        <input type="text" placeholder="Kasutajanimi" name="username"/>
        <input type="password" placeholder="Salasõna" name="password"/>
        <button type="submit">login</button>
      </form>
      <div class="alert alert-danger" th:if="'wrong' == ${error}">Kasutajanimi või salasõna on vale</div>
      <div class="alert alert-danger" th:if="'username' == ${error}">Kasutajanimi ei saa olla tühi</div>
      <div class="alert alert-danger" th:if="'password' == ${error}">Salasõna ei saa olla tühi</div>
    </div>
  </div>
</body>
</html>