<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Toodete nimekiri</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/toode.css}" />
</head>
    <body>
        <section class="start">
            <h1>Toote muutmine</h1>
            <img alt="sample" th:src="*{'data:image/png;base64,'+image}"/>
            <form method="POST" action="/admin/toodeUpdate" enctype="multipart/form-data">
                <input type="file" name="file" style="display: block; margin-left: auto; margin-right: auto;"/>
                <h1>Toote nimi</h1>
                <textarea name="name" class="name" style="width:25%; height: 40px;" maxlength="100" th:text="${name}"></textarea>
                <h1>Toote hind</h1>
                <textarea name="price" type="number" class="price" style="width:10%; height: 40px;" th:text="${price}"></textarea>
                <h1>Toote kogus</h1>
                <textarea name="amount" type="number" class="price" style="width:10%; height: 40px;" th:text="${amount}"></textarea>
                <h1>Toote kirjeldus</h1>
                <textarea name="desc" class="desc" style="width:50%; height: 400px;" th:text="${desc}"></textarea>
                <textarea name="kood" th:text="${kood}" style="display:none;"></textarea>
                <input type="submit" class="btn" style="cursor:pointer;" value="Salvesta">
            </form>
        </section>
    </body>
</html>