<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Toodete nimekiri</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/toode.css}" />
</head>
    <body>
        <section class="start">
            <h1>Toote muutmine</h1>
            <form method="POST" action="/admin/toodeUpdate" enctype="multipart/form-data">
                <input type="file" name="file" style="display: block; margin-left: auto; margin-right: auto;"/>
                <h1>Toote nimi</h1>
                <textarea name="name" class="name" style="width:25%; height: 40px;" maxlength="100" th:text="${name}"></textarea>
                <h1>Toote hind</h1>
                <textarea name="price" type="number" class="price" style="width:10%; height: 40px;" th:text="${price}"></textarea>
                <h1>Toote kogus</h1>
                <textarea name="amount" type="number" class="price" style="width:10%; height: 40px;" th:text="${amount}"></textarea>
                <h1>Toote kirjeldus</h1>
                <textarea name="desc" class="desc" style="width:50%; height: 400px;" th:text="${desc}"></textarea>
                <label for="category">Toote kategooria:</label>
                <select name="category" id="category">
                    <option value="it" th:selected="${category} == it ? true : false">IT</option>
                    <option value="telefonid" th:selected="${category} == telefonid ? true : false">Telefonid</option>
                    <option value="helitehnika" th:selected="${category} == helitehnika ? true : false">Helitehnika</option>
                    <option value="kodumasinad" th:selected="${category} == kodumasinad ? true : false">Kodumasinad</option>
                    <option value="moobel" th:selected="${category} == moobel ? true : false">Mööbel</option>
                    <option value="koogitehnika" th:selected="${category} == koogitehinka ? true : false">Köögitehnika</option>
                    <option value="ilu-ja-tervis" th:selected="${category} == ilu-ja-tervis ? true : false">Ilu ja tervis</option>
                    <option value="meelelahutus" th:selected="${category} == meelelahutus ? true : false">Meelelahutus</option>
                    <option value="vaba-aeg" th:selected="${category} == vaba-aeg ? true : false">Vaba aeg</option>
                </select>
                <h1>Tootekood</h1>
                <textarea name="kood" th:text="${kood}" style="width:10%; height: 40px;"></textarea>
                <input type="submit" class="btn" style="cursor:pointer;" value="Salvesta">
            </form>
        </section>
    </body>
</html>