<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Notes login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/login.css}" rel="stylesheet" />
</head>
<body>
<div th:fragment="language">
    <link th:href="@{/css/login.css}" rel="stylesheet" />
    <div class="login-page">
        <div class="form">
            <p class="message">LOGIN</p>
            <form class="post" method="post" action = '/sendLogin'>
                <div class="alert" th:if="'email' == ${error}">E-maili lahter ei tohi olla tühi</div>
                <input type="text" placeholder="E-mail" name="email"/>
                <div class="alert" th:if="'password' == ${error}">Salasõna lahter ei tohi olla tühi</div>
                <input type="password" placeholder="Password" name="password"/>
                <div class="alert" th:if="'wrong' == ${error}">E-mail või salasõna on vale</div>
                <button type="submit">login</button>
            </form>
            <a href="/register">
                <button class="register">Register</button>
            </a>
        </div>
    </div>
</div>
</body>
</html>