<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="language">
    <!-- Cart Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Tooted</th>
                            <th>Hind</th>
                            <th>Kogus</th>
                            <th>Kokku</th>
                            <th>Eemalda</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle" th:if="${not #lists.isEmpty(tooted)}">
                        <tr th:each="toode : ${tooted}">
                            <td class="align-middle"><img th:src="*{'data:image/png;base64,'+toode.thumbnail}" alt="" style="width: 50px;" > <a th:href="'/toode?kood=' + ${toode.kood}" style="margin-left: 5px;" th:text="${toode.name}"></a> </td>
                            <td class="align-middle" th:text="'€' + ${toode.price}"></td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <!-- lahutab toote -->
                                        <form action="/eemaldaToode" method="post">
                                            <textarea name="redirect" th:text="'/ostukorv'" style="display:none;"></textarea>
                                            <button name="kood" th:value="${toode.kood}" class="btn btn-sm btn-primary btn-minus" >
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary text-center" th:value="${toode.tooteKogus}">
                                    <div class="input-group-btn">
                                        <!-- liidab toote -->
                                        <form action="/lisaToode" method="post">
                                            <textarea name="redirect" th:text="'/ostukorv'" style="display:none;"></textarea>
                                            <button name="kood" th:value="${toode.kood}" class="btn btn-sm btn-primary btn-plus">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle" th:text="'€' + ${toode.koguseHind}" ></td>
                            <td class="align-middle">
                                <form action="/ostukorvTooteEemaldamine" method="post">
                                    <button name="kood" th:value="${toode.kood}" class="btn btn-sm btn-primary">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <form class="mb-5" action="">
                    <div class="input-group">
                        <input type="text" class="form-control p-4" placeholder="Lisa sooduskupong">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Sooduskupong</button>
                        </div>
                    </div>
                </form>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium" th:text="'€' + ${subtotal}"></h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Transport</h6>
                            <h6 class="font-weight-medium">€10.00</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Kokku</h5>
                            <h5 class="font-weight-bold" th:text="'€' + ${total}"></h5>
                        </div>
                        <a th:href="'/tellimus'" class="btn btn-block btn-primary my-3 py-3">Vormista tellimus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->
</div>

</html>