<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Notes login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:href="@{/css/login.css}" rel="stylesheet" />
</head>
<body>
  <div class="login-page">
    <div class="form">
      <p class="message">REGISTER</p>
      <form class="post" method="post" action = '/registerSend'>
        <input type="text" placeholder="Username" name="username"/>
        <input type="password" placeholder="Password" name="password"/>
        <button type="submit">Register</button>
      </form>
      <div class="alert alert-danger" th:if="'exist' == ${error}">User already exists</div>
      <div class="alert alert-danger" th:if="'username' == ${error}">Username can't be empty</div>
      <div class="alert alert-danger" th:if="'password' == ${error}">Password can't be empty</div>
    </div>
  </div>
</body>
</html>